.demo{
text-align: center;
display: flex;
padding: 3rem;
flex-direction: column;
color: $primary-color;
gap: 1.5rem;
justify-content: center;
align-items: center;
button:hover{
background-color: #00323fe4;
}
h3{
    font-size: 36px;
}
p{
    text-align: center;
}
}
@media(max-width:360px){
    .demo{
        padding: 1rem;
         h3{
            font-size: 22px;
        }
        }
}