.hero-section{
height: 100vh;
position: relative;
margin-top: 2rem;
// z-index: -1;
.summery-part{
width: 90%;
position: absolute;
top: 0%;
left: 5%;
background-color: $secondary-color;
border-radius: 1rem;
display: flex;
padding: 2rem;
gap: 1rem;
justify-content: center;

//the side with the buttons and the content
.left-side{
padding-right: 4rem;
    h2{
        font-size: 3.5rem;
        color: $primary-color;
    }
p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.supports{
display: flex;
gap: 2rem;
align-items: center;
margin-bottom: 3rem;
}
.btns{
display: flex;
gap: 1rem;

/* CSS */
// span{
//   display: none;
// }
.learn-btn{
  appearance: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: $primary-color;
  border: 1px solid $primary-color;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.6rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: capitalize;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.learn-btn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: $secondary-color;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
    height: 100%;
  opacity: 1;
  border-radius: 1.3rem;
  left: 0;
//   z-index: -1;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.learn-btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  // clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  // border-radius: 0% 55% 60% 0% / 10% 37% 39% 10% ;
}

.learn-btn:after {
  background-color: #FFFFFF;
}

.learn-btn span {
  z-index: 1;
  position: relative;
}
}
}
//image side
.right-side{
img{
border-radius: 0.5rem;
}
}
}
.graph-card{
position: absolute;
} 
.graph-card-1{
bottom: 15%;
left: 47%;
}   
.graph-card-2{
bottom: 70%;
left: 85%;
}   
//the div with nothing but its colored
.colordiv{
width: 100%;
height: 45vh;
position: absolute;
bottom: -14%;
z-index: -1;
background: linear-gradient(#73e9e5,white);
}
}
@media(max-width:360px){
  .hero-section{
    height: 40vh;
      .summery-part{
      padding: 1rem;
       gap: 1rem;
    justify-content: start;
    flex-direction: column;
    
    //the side with the buttons and the content
    .left-side{
    padding-right: 0rem;
        h2{
            font-size: 1.5rem;
            color: $primary-color;
        }
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .supports{
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
    }
    .btns{
    display: flex;
    gap: 1rem;
    
    /* CSS */
    // span{
    //   display: none;
    // }
    .learn-btn{
      appearance: none;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      background-color: #FFFFFF;
      border-width: 0;
      box-sizing: border-box;
      color: $primary-color;
      border: 1px solid $primary-color;
      cursor: pointer;
      display: inline-block;
      font-family: Clarkson,Helvetica,sans-serif;
      letter-spacing: 0;
      line-height: 1em;
      margin: 0;
      opacity: 1;
      outline: 0;
      padding: 0.6rem 1rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: geometricprecision;
      text-transform: capitalize;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
    }
    .learn-btn:before {
      animation: opacityFallbackOut .5s step-end forwards;
      backface-visibility: hidden;
      background-color: $secondary-color;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
        height: 100%;
      opacity: 1;
      border-radius: 1.3rem;
      left: 0;
    //   z-index: -1;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
      width: 100%;
    }
    
    .learn-btn:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
      // clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
      // border-radius: 0% 55% 60% 0% / 10% 37% 39% 10% ;
    }
    
    .learn-btn:after {
      background-color: #FFFFFF;
    }
    
    .learn-btn span {
      z-index: 1;
      position: relative;
    }
    }
    }
    //image side
    .right-side{
    img{
    border-radius: 0.5rem;
    width: 100%;
    }
    }
    }
    .graph-card{
    position: absolute;
    display: none;
    } 
       //the div with nothing but its colored
    .colordiv{
     height: 75vh;
    bottom: -300%;
        }
    }  
}