@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: #fff8f0;
}

.majorbtn {
  padding: 0.6rem 1rem;
  border-radius: 1.3rem;
  border: none;
  cursor: pointer;
  background-color: #00323f;
  color: white;
  font-size: 1rem;
}

@media (max-width: 360px) {
  .majorbtn {
    padding: 0.5rem 1rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
    background-color: #00323f;
    color: white;
    font-size: 1rem;
  }
}
a {
  text-decoration: none;
}

.pagelinksSmallScreen {
  background-color: aqua;
  display: flex;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

@media (max-width: 360px) {
  .general-links {
    position: fixed;
    width: 100%;
    transition: all 2s ease;
  }
  .general-links .pagelinksSmallScreen {
    background-color: #e3fbfa;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid black;
  }
  .general-links .pagelinksSmallScreen a {
    color: black;
  }
  .general-linksActive {
    position: fixed;
    top: -100%;
    width: 100%;
    transition: all 2s ease;
  }
  .general-linksActive .pagelinksSmallScreen {
    background-color: #e3fbfa;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid black;
  }
  .general-linksActive .pagelinksSmallScreen a {
    color: black;
  }
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: black;
}
header .logo img {
  width: 100px;
}
header .page-link:hover {
  border-bottom: 1px solid black;
}
header .pagelinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .btn {
  display: none;
}
header .login {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 360px) {
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: black;
  }
  header .logo img {
    width: 95px;
  }
  header .login {
    padding: 0.35rem 1rem;
  }
  header .menuBtn {
    padding: 0.5rem 1rem;
  }
  header .page-link:hover {
    border-bottom: 1px solid black;
  }
  header .pagelinks {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  header .pagelinks {
    display: none;
  }
  header .btn {
    display: block;
  }
  header .login {
    display: flex;
    gap: 0.5rem;
  }
}
.hero-section {
  height: 100vh;
  position: relative;
  margin-top: 2rem;
}
.hero-section .summery-part {
  width: 90%;
  position: absolute;
  top: 0%;
  left: 5%;
  background-color: #e7ff79;
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
}
.hero-section .summery-part .left-side {
  padding-right: 4rem;
}
.hero-section .summery-part .left-side h2 {
  font-size: 3.5rem;
  color: #00323f;
}
.hero-section .summery-part .left-side p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero-section .summery-part .left-side .supports {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}
.hero-section .summery-part .left-side .btns {
  display: flex;
  gap: 1rem;
  /* CSS */
}
.hero-section .summery-part .left-side .btns .learn-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #00323f;
  border: 1px solid #00323f;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.6rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: capitalize;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.hero-section .summery-part .left-side .btns .learn-btn:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #e7ff79;
  -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
          clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  opacity: 1;
  border-radius: 1.3rem;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.hero-section .summery-part .left-side .btns .learn-btn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
          clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.hero-section .summery-part .left-side .btns .learn-btn:after {
  background-color: #FFFFFF;
}
.hero-section .summery-part .left-side .btns .learn-btn span {
  z-index: 1;
  position: relative;
}
.hero-section .summery-part .right-side img {
  border-radius: 0.5rem;
}
.hero-section .graph-card {
  position: absolute;
}
.hero-section .graph-card-1 {
  bottom: 15%;
  left: 47%;
}
.hero-section .graph-card-2 {
  bottom: 70%;
  left: 85%;
}
.hero-section .colordiv {
  width: 100%;
  height: 45vh;
  position: absolute;
  bottom: -14%;
  z-index: -1;
  background: linear-gradient(#73e9e5, white);
}

@media (max-width: 360px) {
  .hero-section {
    height: 40vh;
  }
  .hero-section .summery-part {
    padding: 1rem;
    gap: 1rem;
    justify-content: start;
    flex-direction: column;
  }
  .hero-section .summery-part .left-side {
    padding-right: 0rem;
  }
  .hero-section .summery-part .left-side h2 {
    font-size: 1.5rem;
    color: #00323f;
  }
  .hero-section .summery-part .left-side p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .hero-section .summery-part .left-side .supports {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
  }
  .hero-section .summery-part .left-side .btns {
    display: flex;
    gap: 1rem;
    /* CSS */
  }
  .hero-section .summery-part .left-side .btns .learn-btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #00323f;
    border: 1px solid #00323f;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 0.6rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: capitalize;
    transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  .hero-section .summery-part .left-side .btns .learn-btn:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #e7ff79;
    -webkit-clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
            clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    opacity: 1;
    border-radius: 1.3rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
  }
  .hero-section .summery-part .left-side .btns .learn-btn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    -webkit-clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
            clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  .hero-section .summery-part .left-side .btns .learn-btn:after {
    background-color: #FFFFFF;
  }
  .hero-section .summery-part .left-side .btns .learn-btn span {
    z-index: 1;
    position: relative;
  }
  .hero-section .summery-part .right-side img {
    border-radius: 0.5rem;
    width: 100%;
  }
  .hero-section .graph-card {
    position: absolute;
    display: none;
  }
  .hero-section .colordiv {
    height: 75vh;
    bottom: -300%;
  }
}
.collaborates {
  margin-top: 5rem;
  padding: 2rem;
}
.collaborates h2 {
  font-size: 1rem;
  font-weight: 250;
  color: #00323f;
  text-align: center;
  margin-bottom: 2rem;
}
.collaborates .companies {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.collaborates .companies img {
  width: 8rem;
}

@media (max-width: 360px) {
  .collaborates {
    margin-top: 35rem;
    padding: 2rem;
  }
  .collaborates h2 {
    font-size: 1rem;
    font-weight: 250;
    color: #00323f;
    text-align: center;
    margin-bottom: 2rem;
  }
  .collaborates .companies {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .collaborates .companies img {
    width: 8rem;
  }
}
.powerfull-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.powerfull-features h2 {
  font-size: 2.9rem;
  padding-left: 5rem;
  color: #00323f;
  margin-bottom: 2rem;
  padding-right: 5rem;
  text-align: center;
}
.powerfull-features .marq img {
  width: 3rem;
}
.powerfull-features .features-card {
  display: flex;
  background-color: #63e7e3;
  gap: 2rem;
  border-radius: 1rem;
}
.powerfull-features .features-card h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.powerfull-features .features-card .image-side {
  width: 50%;
  padding-left: 2rem;
}
.powerfull-features .features-card .image-side img {
  width: 100%;
  height: 100%;
}
.powerfull-features .features-card .text-side {
  padding: 2rem;
}
.powerfull-features .features-card .text-side .features {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
.powerfull-features .features-card .text-side .features .left-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.powerfull-features .features-card .text-side .features .left-part p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.powerfull-features .features-card .text-side .precision {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  gap: 0.5rem;
  background-color: whitesmoke;
  border: none;
  padding: 2rem;
}
.powerfull-features .contact-cards {
  display: flex;
  gap: 2rem;
}
.powerfull-features .contact-cards .contact-card {
  background-color: #00323f;
  padding: 3rem 2rem;
  width: 50%;
  border-radius: 1rem;
}
.powerfull-features .contact-cards .contact-card .dashboard-03 {
  width: 100%;
}
.powerfull-features .contact-cards .contact-card .text-card {
  display: flex;
  margin-top: 3rem;
  color: white;
  align-items: center;
  gap: 3rem;
}
.powerfull-features .contact-cards .contact-card-2 {
  padding: 1.6rem 1rem;
  background-color: #e7ff79;
  text-align: start;
  width: 50%;
  overflow: hidden;
}
.powerfull-features .contact-cards .contact-card-2 .get-app {
  gap: 1rem;
  margin-top: 3rem;
  display: flex;
}
.powerfull-features .contact-cards .contact-card-2 .get-app a:hover {
  transform: translateY(5px);
  transition: 0.5s;
}
.powerfull-features .contact-cards .contact-card-2 .footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.powerfull-features .contact-cards .contact-card-2 .footer marquee {
  width: 100%;
}
.powerfull-features .contact-cards .contact-card-2 .marq {
  overflow: hidden;
  display: flex;
  gap: 2rem;
}
.powerfull-features .contact-cards .contact-card-2 .marq img {
  width: 5rem;
}
.powerfull-features .contact-cards .contact-card-3 {
  text-align: center;
}
.powerfull-features .contact-cards .contact-card-3 h3 {
  color: white;
  font-size: 1.5rem;
}
.powerfull-features .contact-cards .contact-card-3 a {
  color: white;
  text-decoration: underline;
}
.powerfull-features .contact-cards .contact-card-3 .links {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.powerfull-features .contact-cards .contact-card-3 .links img {
  width: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
  animation: heartbeat 4s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@media (max-width: 360px) {
  .powerfull-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  .powerfull-features h2 {
    font-size: 1.3rem;
    padding-left: 1rem;
    color: #00323f;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
    text-align: center;
  }
  .powerfull-features .features-card {
    display: flex;
    background-color: #63e7e3;
    padding: 1rem;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 1rem;
  }
  .powerfull-features .features-card h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0rem;
  }
  .powerfull-features .features-card .image-side {
    width: 100%;
    padding-left: 0rem;
  }
  .powerfull-features .features-card .image-side img {
    width: 100%;
    height: auto;
  }
  .powerfull-features .features-card .text-side {
    padding: 1rem;
  }
  .powerfull-features .features-card .text-side .features {
    display: flex;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .powerfull-features .features-card .text-side .features .left-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .powerfull-features .features-card .text-side .features .left-part p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .powerfull-features .features-card .text-side .precision {
    display: flex;
    align-items: flex-start;
    border-radius: 1rem;
    gap: 0.5rem;
    background-color: whitesmoke;
    border: none;
    padding: 1rem;
  }
  .powerfull-features .contact-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  .powerfull-features .contact-cards .contact-card {
    padding: 1rem 1rem;
    width: 100%;
  }
  .powerfull-features .contact-cards .contact-card-2 .get-app {
    gap: 1rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .powerfull-features .contact-cards .contact-card-2 .footer {
    display: none;
    margin-top: 0rem;
  }
  .powerfull-features .contact-cards .contact-card-2 .marq {
    display: none;
  }
}
.payements-section {
  margin-top: 3rem;
  align-items: center;
  padding: 3rem;
  gap: 13rem;
  display: flex;
}
.payements-section .detailed .top-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.payements-section .detailed .top-div p {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.payements-section .detailed .top-div h3 {
  font-size: 2rem;
  color: #00323f;
}
.payements-section .detailed .bottom h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #00323f;
  font-weight: 500;
}
.payements-section .detailed .bottom h4 {
  color: #00323f;
  font-weight: 500;
}
.payements-section .detailed .bottom p {
  font-weight: 200;
}
.payements-section .phone-image {
  position: relative;
  z-index: -1;
}
.payements-section .phone-image .dashboard-05 {
  position: absolute;
  left: -30%;
  bottom: 6%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.payements-section .phone-image .dashboard-20 {
  position: absolute;
  right: -55%;
  bottom: 78%;
}

@media (max-width: 360px) {
  .payements-section {
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    display: flex;
  }
  .payements-section .detailed .top-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .payements-section .detailed .top-div p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .payements-section .detailed .top-div h3 {
    font-size: 2rem;
    color: #00323f;
  }
  .payements-section .detailed .bottom h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #00323f;
    font-weight: 500;
  }
  .payements-section .detailed .bottom h4 {
    color: #00323f;
    font-weight: 500;
  }
  .payements-section .detailed .bottom p {
    font-weight: 200;
  }
  .payements-section .phone-image {
    position: relative;
    z-index: -1;
  }
  .payements-section .phone-image .dashboard-05 {
    display: none;
    position: absolute;
    left: -30%;
    bottom: 6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .payements-section .phone-image .dashboard-20 {
    display: none;
    position: absolute;
    right: -55%;
    bottom: 78%;
  }
}
.financial-navigator-section {
  padding: 3rem;
  display: flex;
  position: relative;
  gap: 11rem;
  padding-right: 2rem;
}
.financial-navigator-section .financial-image {
  width: 80%;
  height: 100%;
}
.financial-navigator-section .financial-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.financial-navigator-section .financial-details h3 {
  color: #00323f;
  font-size: 36px;
}
.financial-navigator-section .financial-details p {
  color: #00323f;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.financial-navigator-section .financial-details a:hover {
  background-color: rgba(0, 51, 64, 0.6078431373);
  transition: 0.5s;
}
.financial-navigator-section .financial-details .remarks {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}
.financial-navigator-section .financial-details .remarks .remark {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.financial-navigator-section .financial-details .remarks .remark .google {
  width: 6.6rem;
}
.financial-navigator-section .obs-image {
  position: absolute;
  bottom: 15%;
  left: 35%;
}

@media (max-width: 360px) {
  .financial-navigator-section {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    padding-right: 1rem;
  }
  .financial-navigator-section .financial-image {
    width: 100%;
    height: 100%;
  }
  .financial-navigator-section .financial-details h3 {
    font-size: 20px;
  }
  .financial-navigator-section .financial-details p {
    margin-bottom: 1.6rem;
  }
  .financial-navigator-section .financial-details .remarks {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .financial-navigator-section .obs-image {
    display: none;
  }
}
.section {
  padding: 2rem;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 50%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-1 {
  background-color: red;
  width: 50%;
  height: 15rem;
}

.financial-solutions {
  display: flex;
  gap: 7rem;
  justify-content: center;
  color: #00323f;
  padding: 2rem 3rem;
}
.financial-solutions .left-hand h3 {
  font-size: 36px;
}
.financial-solutions .left-hand p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.financial-solutions .left-hand a:hover {
  background-color: rgba(0, 51, 64, 0.6078431373);
  transition: 0.5s;
}
.financial-solutions .right-hand {
  width: 50%;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.financial-solutions .right-hand h4 {
  font-size: 22px;
}
.financial-solutions .right-hand .user-support {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.financial-solutions .right-hand img {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 4rem;
  padding: 1rem;
}

@media (max-width: 360px) {
  .financial-solutions {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    color: #00323f;
    padding: 2rem 1rem;
  }
  .financial-solutions .left-hand h3 {
    font-size: 24px;
  }
  .financial-solutions .left-hand p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .financial-solutions .right-hand {
    width: 50%;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .financial-solutions .right-hand h4 {
    font-size: 18px;
  }
  .financial-solutions .right-hand .user-support {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.saticified-users {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;
}
.saticified-users .detailed-users {
  display: flex;
  justify-content: center;
  margin-left: 1.2rem;
  background-color: #00323f;
  width: 97%;
  gap: 4rem;
  border-radius: 1rem;
  padding: 3rem;
}
.saticified-users .detailed-users .users-details {
  color: white;
}
.saticified-users .detailed-users .users-details h3 {
  font-size: 48px;
}
.saticified-users .detailed-users .users-details p {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.saticified-users .detailed-users .users-details a {
  background-color: #6fe9e4;
  color: black;
}
.saticified-users .detailed-users .users-graph {
  width: 85%;
}
.saticified-users .detailed-users .users-graph img {
  width: 100%;
}
.saticified-users .colordiv {
  width: 100%;
  height: 65vh;
  position: absolute;
  bottom: -15%;
  z-index: -1;
  background: linear-gradient(to bottom, #b1e8e6, white);
}

@media (max-width: 360px) {
  .saticified-users {
    margin-top: 1rem;
  }
  .saticified-users .detailed-users {
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
    width: 95%;
    padding: 2rem;
  }
  .saticified-users .detailed-users .users-details h3 {
    font-size: 26px;
  }
  .saticified-users .detailed-users .users-details p {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .saticified-users .detailed-users .users-graph {
    display: none;
  }
  .saticified-users .colordiv {
    bottom: -30%;
  }
}
.options {
  padding: 3rem;
  margin-top: 5rem;
}
.options .option-heading {
  text-align: center;
  color: #00323f;
}
.options .option-heading h3 {
  font-size: 48px;
  margin-bottom: 0.5rem;
}
.options .option-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}
.options .option-cards .option-card {
  background-color: #e7ff79;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
}
.options .option-cards .option-card h4 {
  background-color: #aab0b1;
  font-size: 20px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 3rem;
  color: #00323f;
}
.options .option-cards .option-card h3 {
  margin-bottom: 1rem;
  color: #00323f;
}
.options .option-cards .option-card P {
  margin-bottom: 1rem;
  color: #00323f;
}
.options .option-cards .option-card-2 {
  color: white;
  background-color: #00323f;
}
.options .option-cards .option-card-2 h4 {
  color: white;
}
.options .option-cards .option-card-2 h3 {
  color: white;
}
.options .option-cards .option-card-2 p {
  color: white;
}
.options .option-cards .option-card-3 {
  background-color: aqua;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
}
.options .option-cards .option-card-3 h4 {
  background-color: #aab0b1;
  font-size: 20px;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 3rem;
  color: #00323f;
}
.options .option-cards .option-card-3 h3 {
  margin-bottom: 1rem;
  color: #00323f;
}
.options .option-cards .option-card-3 P {
  margin-bottom: 1rem;
  color: #00323f;
}

@media (max-width: 360px) {
  .options {
    padding: 1rem;
    margin-top: 2rem;
  }
  .options .option-heading h3 {
    font-size: 26px;
    margin-bottom: 0.5rem;
  }
  .options .option-cards {
    margin-top: 1rem;
  }
}
.pricing {
  padding: 3rem;
}
.pricing .pricing-heading {
  display: flex;
  gap: 10rem;
  color: #00323f;
}
.pricing .pricing-heading h3 {
  font-size: 48px;
}
.pricing .pricing-button {
  display: flex;
  margin-top: 2.5rem;
  gap: 2rem;
}
.pricing .pricing-button button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  color: #00323f;
}
.pricing .pricing-Cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.pricing .pricing-Cards .pricing-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  width: 100%;
  color: #00323f;
}
.pricing .pricing-Cards .pricing-card h4 {
  font-size: 16px;
}
.pricing .pricing-Cards .pricing-card h3 {
  font-size: 22px;
}
.pricing .pricing-Cards .pricing-card span {
  font-size: 28px;
}
.pricing .pricing-Cards .pricing-card .pricing-card-details {
  color: #00323f;
  margin-bottom: 2rem;
}
.pricing .pricing-Cards .pricing-card .pricing-card-details ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.pricing .pricing-Cards .pricing-card button {
  width: 100%;
}
.pricing .pricing-Cards .pricing-card button:hover {
  background-color: rgba(0, 51, 64, 0.8823529412);
  transition: 0.5s;
}
.pricing .pricing-Cards .pricing-card a {
  color: white;
}
.pricing .pricing-Cards .pricing-card .pricing-footer {
  width: 100%;
}
.pricing .pricing-Cards .pricing-card-1 {
  background-color: white;
  height: 29rem;
}
.pricing .pricing-Cards .pricing-card-2 {
  background-color: #e3fbfa;
  height: 34rem;
}
.pricing .pricing-Cards .pricing-card-3 {
  background-color: #e7ff79;
}

@media (max-width: 360px) {
  .pricing {
    padding: 1rem;
  }
  .pricing .pricing-heading {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: #00323f;
  }
  .pricing .pricing-heading h3 {
    font-size: 26px;
  }
  .pricing .pricing-button {
    display: flex;
    margin-top: 2.5rem;
    gap: 2rem;
  }
  .pricing .pricing-button button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: #00323f;
  }
  .pricing .pricing-Cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  .pricing .pricing-Cards .pricing-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    width: 100%;
    color: #00323f;
  }
  .pricing .pricing-Cards .pricing-card h4 {
    font-size: 16px;
  }
  .pricing .pricing-Cards .pricing-card h3 {
    font-size: 22px;
  }
  .pricing .pricing-Cards .pricing-card span {
    font-size: 28px;
  }
  .pricing .pricing-Cards .pricing-card .pricing-card-details {
    color: #00323f;
    margin-bottom: 2rem;
  }
  .pricing .pricing-Cards .pricing-card .pricing-card-details ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .pricing .pricing-Cards .pricing-card button {
    width: 100%;
  }
  .pricing .pricing-Cards .pricing-card button:hover {
    background-color: rgba(0, 51, 64, 0.8823529412);
    transition: 0.5s;
  }
  .pricing .pricing-Cards .pricing-card a {
    color: white;
  }
  .pricing .pricing-Cards .pricing-card .pricing-footer {
    width: 100%;
  }
  .pricing .pricing-Cards .pricing-card-1 {
    height: auto;
  }
  .pricing .pricing-Cards .pricing-card-2 {
    background-color: #e3fbfa;
    height: auto;
  }
  .pricing .pricing-Cards .pricing-card-3 {
    background-color: #e7ff79;
  }
}/*# sourceMappingURL=style.css.map */